{% load static %}

<link rel="stylesheet" href="{% static 'css/login_registration.css' %}" />
<form class="reg-form" action="" method="post">
  {% csrf_token %}
  <div class="body PC">
    <div class="bgimg"></div>
    <div class="container">
      <div class="white_container">
        <div class="login_container">
          <div class="text_back">
            <div class="text">Вход</div>
            <div class="back"></div>
          </div>
          <div class="ep">
            {{ form.non_field_errors }}
            {{ form.username }}
            {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
            {{ form.password }}
            {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}
            <div class="lg">
              <button type="submit" class="login">Войти</button>
              <a class="RegisterNewAccount" href="{% url 'users:signup' %}">Создать аккаунт</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
